<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>$(OPENGLUCK_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>opengluck</string>
			</array>
		</dict>
	</array>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>OpenGlück</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>open click</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Glück</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>gluck</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>OG</string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>OPENGLUCK_APPDATA_EXPIRE_AT</key>
	<string>$(OPENGLUCK_APPDATA_EXPIRE_AT)</string>
	<key>OPENGLUCK_APPDATA_EXPIRE_MESSAGE</key>
	<string>$(OPENGLUCK_APPDATA_EXPIRE_MESSAGE)</string>
	<key>OPENGLUCK_APPDATA_URL</key>
	<string>$(OPENGLUCK_APPDATA_URL)</string>
	<key>OPENGLUCK_DEFAULT_TOKEN</key>
	<string>$(OPENGLUCK_DEFAULT_TOKEN)</string>
	<key>OPENGLUCK_DEFAULT_URL</key>
	<string>$(OPENGLUCK_DEFAULT_URL)</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>takeoutbag.and.cup.and.straw</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Record Sugar…</string>
			<key>UIApplicationShortcutItemType</key>
			<string>add-low</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>cross.vial</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Record Insulin…</string>
			<key>UIApplicationShortcutItemType</key>
			<string>add-insulin</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
