<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>OPENGLUCK_APPDATA_URL</key>
	<string>$(OPENGLUCK_APPDATA_URL)</string>
	<key>OPENGLUCK_DEFAULT_TOKEN</key>
	<string>$(OPENGLUCK_DEFAULT_TOKEN)</string>
	<key>OPENGLUCK_DEFAULT_URL</key>
	<string>$(OPENGLUCK_DEFAULT_URL)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
